@import '/src/assets/style/fonts.scss';
@import '/src/assets/style/vars.scss';

.main {
    background: $dark_blue;
    color: #FFF;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10vh 0;
}