@import '/src/assets/style/fonts.scss';
@import '/src/assets/style/vars.scss';

.main {
    font-family: $font-family;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
}