@import '/src/assets/style/fonts.scss';
@import '/src/assets/style/vars.scss';

button {
    font-family: $font-family;
}

.table__hedings__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0 0 2vh 0;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    .editing__buttons {
        .button__editing {
            padding: 5px;
            margin: 0 5px;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s, border-color 0.3s;
        }

        .button__save {
            border: 2px solid #27AAE1;
        }

        .button__cancel {
            border: 2px solid #F7941D;
        }


        .button__save,
        .button__cancel {
            color: black;
            background: transparent;

            &:hover {
                color: white;
                border: 2px solid radial-gradient(circle at left top, #F7941D, #27AAE1);
                background: radial-gradient(circle at left top, #F7941D, #27AAE1);
                transition: background-color 0.8s, color 0.8s, border-color 0.8s;
            }
        }
    }

    .editing__image {
        width: 22px;
        height: 22px;
        padding: 0 5px;
        margin: 5px;
        cursor: pointer;
        transition: filter 0.3s;
    }

    .image__edit:hover {
        filter: drop-shadow(4px 4px 6px #27AAE1);
    }

    .image__delete:hover {
        filter: drop-shadow(4px 4px 6px #F7941D);
    }
}