@import '/src/assets/style/vars.scss';

.block__error {
    padding-top: 15vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $gray;

    .title__error {
        font-size: 5rem;
        color: $dark-blue;
    }

    .title__text {
        color: $orange;
        font-size: 1.5rem;
    }
}