@import '/src/assets/style/fonts.scss';
@import '/src/assets/style/vars.scss';

.header {
    display: flex;
    justify-content: space-around;

    .header__logo_img {
        max-height: 10vh;
    }

    .menu__menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3vw;
    }
}