@import '/src/assets/style/fonts.scss';
@import '/src/assets/style/vars.scss';

.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    background-color: white;
    transition: background-color 0.3s ease;
    min-height: 5vh;

    &__scrolled {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .header__logo {
        display: flex;
        margin-left: 2vw;

        .header__logo_img {
            max-height: 10vh;
            margin-left: 2vw;
        }
    }

    .header__menu {
        display: flex;
        align-items: center;
        margin-right: 2vw;

        .menu__list {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;

            .menu__item {
                margin: 0 2vw;
            }
        }
    }
}

a {
    text-decoration: none;
}