@import '/src/assets/style/fonts.scss';
@import '/src/assets/style/vars.scss';

.header {
    display: flex;
    justify-content: space-between;

    .header__menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3vw;
    }
}