@import '/src/assets/style/fonts.scss';
@import '/src/assets/style/vars.scss';

.table__words {
    background: $gray;
    padding: 5vh 10vh 10vh 10vh;

    .table__title {
        padding-bottom: 5vh;
        margin: 0;
    }

    .table__hedings {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding: 0 0 2vh 0;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}