.table__hedings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .table__headings__section {
        margin: 0 5px;
    }
}

.table__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}