@import '/src/assets/style/vars.scss';

.card__element {
    display: flex;
    justify-content: center;
    align-items: center;

    .card__container {
        margin: 0 5vw;
    }

    .arrow__button {
        width: 50px;
        cursor: pointer;
        transition: filter 0.3s;
    }

    .arrow__left:hover {
        @extend %drop_shadow_blue;
    }

    .arrow__right:hover {
        @extend %drop_shadow_orange;
    }
}