@import '/src/assets/style/vars.scss';

.card__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .card__structure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $dark_blue;
        color: $gray;
        min-width: 35vw;
        min-height: 45vh;
        margin: 3vw 0;
        padding: 3vw 0;
        border-radius: 8%;

        .card__word {
            font-weight: 700;
            font-size: 2.75rem;
        }

        .card__transcription {
            opacity: 0.75;
            font-size: 1.25rem;
        }

        .card__translate {
            color: #F7941D;
            margin-top: 7vh;
            font-weight: 700;
            font-size: 1.75rem;
            transition: 0.3s;
        }

        .check__translate {
            margin: 3vw 0 0 0;
            border: 2px solid #27AAE1;
            border-radius: 5px;
            color: white;
            background: transparent;
            cursor: pointer;
            font-size: 1.45em;

            &:hover {
                color: black;
                border: 2px solid #F7941D;
                background: radial-gradient(circle at left top, #F7941D, #27AAE1);
                transition: background-color 0.8s, color 0.8s, border-color 0.8s;
            }
        }
    }
}