@import '/src/assets/style/vars.scss';

.card__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .card__structure {
        background-color: $dark_blue;
        color: $gray;
        width: 20vw;
        margin: 3vw 0;
        padding: 3vw 0;

        .card__word {
            font-weight: 700;
            font-size: 1.75rem;
        }

        .card__transcription {
            opacity: 0.75;
        }

        .check__translate {
            margin: 3vw 0 0 0;
            border: 2px solid #27AAE1;
            border-radius: 5px;
            color: white;
            background: transparent;
            cursor: pointer;

            &:hover {
                color: black;
                border: 2px solid radial-gradient(circle at left top, #F7941D, #27AAE1);
                background: radial-gradient(circle at left top, #F7941D, #27AAE1);
                transition: background-color 0.8s, color 0.8s, border-color 0.8s;
            }
        }
    }
}